.auth-layout-container {
  height: 100%;
}

.auth-layout-segment-container {
  width: 80% !important;
}

.auth-layout-segment {
  background: white !important;
}

.auth-layout-image-container {
  display: flex !important;
  align-items: center;
}

.auth-layout-image {
  width: 85%;
  margin: 2.5rem 0;
}
