.drag-button {
  float: right;
  padding: 10px 15px 10px 15px;
  border-left: 1px solid rgba(34, 36, 38, 0.15);
}

.card-left-elements {
  float: left;
  border-right: 1px solid rgba(34, 36, 38, 0.15);
}

.card-right-elements {
  float: right;
  border-left: 1px solid rgba(34, 36, 38, 0.15);
}
